<%- include('./partials/header') %>

  <%- include('./partials/navigation') %>

    <!-- Page Content -->

    <img src="./images/homepagebannerbis.jpg" class="banner img-fluid" alt="Bonanza Paris">

    <div class="container container-main">

      <div class="home-header">
        <h2 class="home-title">Le chant des Sirènes</h2>
        <p class="home-description">Une collection capsule exclusive inspirée de la mythologie et de la légende des
          sirènes. Rondes, texturées, ovales ou baroque les perles sont les maîtresses de cette collection.</p>
      </div>
      <div class="container home-container">

        <% for (jewel of jewels) { %>
          <div class="card">
            <a href="/article/<%= jewel.image.toLowerCase() %>">
              <img class="card-img" src="./images/<%= jewel.image %>.jpg" alt="jewel">
            </a>
            <div class="card-main">
              <small class="card-footer-star">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
              <h4 class="card-title">
                <a href="/article/<%= jewel.name.toLowerCase() %>">
                  <%= jewel.name %>
                </a>
                <a href="/favoris/add/<%= jewel.name.toLowerCase()%>" class="card-fav">&#x2661;</a>
              </h4>
              <h5 class="card-price">
                <%= jewel.price%> €
              </h5>
            </div>

          </div>
          <% } %>

      </div>

    </div>

    <%- include('./partials/footer') %>