<%- include('./partials/header') %>

  <%- include('./partials/navigation') %>

    <div class="container container-article">

      <img class="article-img" src="/images/<%= jewel.image %>.jpg" alt="">

      <div class="article-body">

        <h5 class="article-body-price">
          <%= jewel.price %> €
        </h5>

        <div class="article-body-main">
          <h3 class="article-body-main-name">
            <%= jewel.name %>
          </h3>
          <a href="/favoris/add/<%= jewel.name.toLowerCase()%>" class="article-body-main-favorite">&#x2661;</a>
        </div>
        
        <% let grade=0; %>
        <% reviews.forEach(review=> grade += review.note); %>
        <% grade=Math.round(grade/reviews.length) %>

            <p class="article-body-grade">

              <% for (let i=0; i < grade; i++) { %>
                &#9733;
                <% } %>

                  <% for (let i=grade; i < 5; i++) { %>
                    &#9734;
                    <% } %>
                    <span class="article-body-grade-text">
                      <%=grade%> (<%= reviews.length %> AVIS)
                    </span>
            </p>

        <button class="article-body-cart-btn">AJOUTER AU PANIER</button>
        <p class="article-body-desc">
          <%= jewel.description %>
        </p>

      </div>

    </div>

    <div class="article-reviews">

      <h4 class="article-reviews-title">Nos clientes partagent leur avis</h4>

      <p class="article-reviews-grade">
        <% for (let i=0; i < grade; i++) { %>
          &#9733;
          <% } %>

            <% for (let i=grade; i < 5; i++) { %>
              &#9734;
              <% } %>
              <span class="article-reviews-grade-text">
                <%=grade%> (<%= reviews.length %> AVIS)
              </span>
      </p>

      <div class="article-reviews-content">

        <% for (review of reviews) { %>
          <section>
            <h5 class="article-reviews-content-title">
              <small class="article-reviews-content-title-stars">&#9733; &#9733; &#9733; &#9733; &#9734;</small> <%=review.title%> &nbsp; 
            </h5>
            <p class="article-reviews-content-msg"><%= review.message %></p>
            <p class="article-reviews-author"><%= review.author.toUpperCase() %></p>
          </section>
        <% }; %>

      </div>

    </div>

<%- include('./partials/footer') %>