<%- include('./partials/header') %>

  <%- include('./partials/navigation') %>

    <!-- Page Content -->
    <div class="container favoris-container">

          <h1 class="favoris-title">Wishlist</h1>

          <% if (!locals.jewels || locals.jewels.length === 0) { %>
            <p class="favoris-empty-content">Votre wishlist est vide.</p>
            <% } else { %>

              <div class="favoris-card-container">

                <% for (jewel of jewels) { %>

                    <div class="favoris-card">
                        <img class="favoris-card-img" src="./images/<%= jewel.image %>.jpg" alt="">
                        <h5 class="favoris-card-title"><%= jewel.name %></h5>
                        <p class="favoris-card-price"><%= jewel.price%> €</p>
                        <a class="favoris-card-btn" href="/favoris/delete/<%= jewel.name.toLowerCase() %>">
                          <i data-feather="x" width="20" stroke-width="1.5"></i>
                        </a>
                    </div>  

                <% } %>
                  
              </div>

            <% } %>

      <a class="favoris-btn" href="/">Retour à l'accueil</a>

    </div>

    <%- include('./partials/footer') %>